/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base.css');
@import url('./reset.css');

body {
  box-sizing: border-box;
  background: #fff;
  padding: 36px 156px;
  width: 1440px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2,
p {
  margin: 0;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.input {
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.input:hover {
  border: 1px solid #000;
}

.input:focus {
  border: 1px solid #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.gallery {
  width: 1128px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.li-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc((100% - 2 * 24px) / 3);
  height: 200px;
  border: 1px solid #808080;
}

.gallery-img {
  width: 100%;
  height: 152px;
  object-fit: cover;
  object-position: center;
}

.image-descr {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 28px;
  padding: 4px 20px;
  justify-content: space-between;
  text-align: center;
  height: 48px;
}

.title {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

.button.load-more {
  width: 126px;
  margin-top: 32px;
}

.button.load-more:hover,
.button.load-more:focus {
  background-color: #6c8cff;
}

/* #region loader */

.loader {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: #ff3d00;
  animation: fill 1s ease-in infinite alternate;
}
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}

/* #endregion loader */
